@media only screen and (max-width: 600px) {
  .line{
    width: 30px;
    height: 3px;
    margin: 5px;
    
  }

  nav{
    position: relative;

  }

  .burger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);

  }

  .navbar-links {
    position: fixed;
    background: rgb(29, 124, 233);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px);

  }
}
