* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html{
  height: 100%;
}

body{
 background-color: rgb(29, 124, 233);
}



.landing{
  width: 100%;
  background-image: url(https://eskipaper.com/images/dark-wallpaper-8.jpg) ;
  height: 100vh;
  background-position: center;
}

.landing img{
  text-align: center;
  height: 50vh;
}

nav{
  background: black;
}

.navbar-links {
  display: flex;
  width: 100%;
  height: 100%;
  list-style-type: none;
  justify-content: space-evenly;
  background-color: black;
  align-items: center;
}

.navbar-links li a:hover{
  background-color: white;
  color: black;
  padding: 20px;
  transition: 0.8s;
  border-radius: 5%;
}

.navbar-links li a{
  color: white;
  text-decoration: none;

}

.landing-page h1 {
  font-size: 60px;
  color: white;
  background-color: black;
  width: 100%;

}

.landing p {
  text-align: center;
  font-size: 60px;
  color: white;
  background-color: black;
  width: 100%;
}



.landing-page {
  text-align: center;
}

.about-about header{
  font-size: 2rem;
  padding: 50px;
  text-align: center;
}

.info{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 0px 20px 20px 20px;
  justify-content: space-evenly;
}

.contain{
  display: flex;
  top: 25%;
  border: 10px solid rgb(6, 82, 245);
  margin: 40px 80px 80px 80px;
}

.contain img{
  width: 40vw;
  height: 49vh;
  margin: 30px 30px 0px 30px;
  border: 5px solid rgb(10, 12, 15);
}

.info h1{
  font-size: 1.5rem;
}

.info p{
  font-size: 1rem;
  margin-top: 10px;
}

.info h2{
  margin-top: 30px;
}

.interests{
  display: grid;
  grid-template-columns: 0.5fr 20px 0.5fr 20px 0.5fr;
  text-align: center;
  height: 200px;
}

.interested-in{
  width: 100%;
  position: relative;
}

.interested-in h1{
  margin: 0px 10px 10px 0px;
  font-size: 1.2rem;
  text-align: center;
}

.interested-in p{
  font-size: 1rem;
}

.line-1 {
  width: 5px;
  height: 95%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  background: rgb(6, 82, 245);
  box-shadow: 0 8px 32px 0 rgb(6, 82, 245);
  border-radius: 10px;
  margin: 5px;
}

.line-3 {
  width: 5px;
  height: 95%;
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 5;
  background: rgb(6, 82, 245);
  box-shadow: 0 8px 32px 0 rgb(6, 82, 245);
  border-radius: 10px;
  margin: 5px;
}

#icon{
  font-size: 20px;
  margin-bottom: 25px;
}


 .camera{
  grid-column: 3;
  grid-row: 1;
  font-size: 20px;
}

.pen {
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
}

.basket-ball {
  grid-column: 3;
  grid-row: 2;
  font-size: 20px;
}

.music {
  grid-column: 1;
  grid-row: 1;
  font-size: 20px;
}

.weight{
  grid-column: 5;
  grid-row: 1;
  font-size: 20px;
}

.game{
  grid-column: 5;
  grid-row: 2;
}

.my-skills{
  padding: 100px 100px 50px 100px;
}

.skill-icons {
  display: flex;
  font-size: 4rem;
  justify-content: center;
}

.soft-skills{
  display: flex;
  font-size: 4rem;
  justify-content: center;
}

.leader{
  margin: 20px;
  background-color: rgb(0, 89, 255);
  padding: 30px ;
  width: 10vw;
}

.leader :hover{
  color: white;

}

.html{
  margin: 20px;
  background-color: rgb(0, 89, 255);
  padding: 30px;
  width: 10vw;
}

.html :hover{
  color: white;
}

.java{
  margin: 20px;
  background-color: rgb(0, 89, 255);
  padding: 30px;
  width: 10vw;
}

.java :hover{
  color: white;
}

.css{
  margin: 20px;
  background-color: rgb(0, 89, 255);
  padding: 30px;
  width: 10vw;
}

.css :hover{
  color: white;
}

.mic{
  margin: 20px;
  background-color: rgb(0, 89, 255);
  padding: 30px;
  width: 10vw;
}

.mic :hover{
  color: white;
}

.wood{
  margin: 20px;
  background-color: rgb(0, 89, 255);
  padding: 30px;
  width: 10vw;
}

.wood :hover{
  color: white;
}

.pty{
  margin: 20px;
  background-color: rgb(0, 89, 255);
  padding: 30px;
  width: 10vw;
}

.pty:hover{
  color: white;
}

.cheese{
  margin: 20px;
  background-color: rgb(0, 89, 255);
  padding: 30px;
  width: 10vw;
}

.cheese :hover{
  color: white;
}

.skils-h{
  margin-bottom: 60px;
  font-size: 2rem;
  text-align: center;
  padding: 50px;
}

.experience{
 text-align: center;
}

.experience header{
  font-size: 2rem;
  padding: 50px;
}

.experience i{
  border: 10px solid white;
  border-radius: 50%;
  background-color: white ;
  margin: 5px;
}

.columns{
  display: flex;
  margin: 0px 70px 190px 70px;
}

.left-column h1{
  text-align: right;
  margin-top: 30px;
}

.left-column p{
  text-align: right;
  margin-top: 20px;
}

.left-column sub{
  text-align: right;
}

.left-column{
  width: 50%;
  float: right;
  margin: 20px 40px 40px 40px;
}

.right-column{
  width: 50%;
  float: right;
  margin: 20px;
}

.right-column h1{
  text-align:left;
  margin-top: 30px;
}


.right-column p{
  text-align:left;
  margin-top: 20px;
}

.body{
  font-family: sans-serif;
  background-size: cover;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 5% 10%;
  background-attachment: fixed;
  background-position: center;
}

.button-container{
  width: 100%;
  text-align: center;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
}

.project-card {
  max-width: 23%;
  width: 100%;
  height: 300px;
  margin: 1%;
  position: relative;
  overflow: hidden;
  border-radius: 3%;
  box-shadow: 0 0 20px black;
}

.project-card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.project-card img,
.card-info{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

.projects h1{
  font-size: 2rem;
  padding: 50px;
  text-align: center;
}

.card-info{
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.card-info:hover{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s linear;
  transition: 0.6s ease-in;
}

.card-info h4,
.card-info h6,
.card-info p {
  text-shadow: rgb(29, 124, 233);
  color: rgb(29, 124, 233);
}

a{
  text-decoration: none;
  color: rgb(29, 124, 233);
}

.card-info p {
  text-align: center;
}

.button {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  border: 3px solid black;
  margin: 5px;

}

.button:hover {
  color: white;
}

body {
  min-height: 100vh;
  align-items: center;
}

form{
  display: flex;
}

.contact-me-info{
  height: 40vh;
}

#contact-form {
  width: 50vw;
  height: 90vh;
  padding: 10%, 20%;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact-heading {
  text-transform: uppercase;
  padding: 20px;
  color: black;
}

.contact-input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 100px;
  color: black;
}

button {
  font-size: 1rem;
  transition-duration: 0.4s;
  margin: 1rem;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 200px;
}

.contact-info {
  border-radius: 100px;
  margin-bottom: 10px;
}
button:hover {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  width: 10vw;
}

.card-details img{
  width: 100%;
}

.my-contact-info{
  right: 250px;
  margin-top: 137px;
}

.J-contact h1{
  color: black;
  text-align: center;
  font-size: 2rem;
  margin: 25px;
}

.J-contact h2{
  color: black;
  font-size: 1.2rem;
}

.J-contact{
  padding: 24px;
}

.number{
  color: black;
  padding: 10px;
  margin: 10px;
  display: flex;
}

.number i{
  margin: 10px 30px 10px 10px;
  font-size: 25px;
}

.address{
  color: black;
  padding: 10px;
  margin: 10px;
  display: flex;
}

.address i{
  margin: 10px 30px 10px 10px;
  font-size: 25px;
}

.Email{
  display: flex;
  color: black;
  padding: 10px;
  margin: 10px;
}

.Email i{
  margin: 10px 24px 10px 10px ;
  font-size: 25px;
}


.testi-box {
  padding: 40px 200px 80px 300px;
  display: flex;
}

.testi-box-item {
  width: 700px;
  padding: 50px;
  background-color: rgb(0, 89, 255) ;
  align-items: center;
}


.testi-pic{
  width: 45px;
  float: right;
}

.testi-pic img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding: 6px;
}

.testimonial p{
  font-size: 1.1rem;
}

.testimonial h1{
  font-size: 3rem;
  width: 100%;

}

.testimonial h2{
  font-size: 2rem;
  padding: 20px 50px 50px 50px;
  text-align: center;                  
}

.testimonial h3 {
  font-size: 1.1rem;
  margin-top: 20px;
}

.owl-carousel {
  overflow: hidden;
}

footer{
  background-color: rgb(4, 4, 5);
  padding: 10px;
}

footer p{
  font-size: 0.7rem;
  text-align: center;
  color: white;
}
  .card {
    width: 100%;
  }

item{
  width: 100%;
  height:100%;

}
nav{
  height: 10vh;
  background: black;
}

.navbar-link{
 text-decoration: none;
 color: white;
 font-size: 1.5rem;
 display: flex;
 list-style: none;
 width: 50%;
 background: black;
 height: 100%;
 justify-content: space-around ;
 align-items: center;
}

navbar-link a{
  font-size: 17px;
  color:white;
  }


@media screen and (max-width:600px){

  .landing-page h1{
    font-size: 30px;
  }

  .landing-page p{
    font-size: 30px;
  }

  .Line{
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  nav{
    position: relative;
  }

  .burger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .navbar-links{
    position: fixed;
    background: black;
    height: 100%;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10% );
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .navbar-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }

}