* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html{
  height: 100%;
}

body{
 background-color: rgb(29, 124, 233);
}

.landing{
  width: 100%;
  background-image: url(https://eskipaper.com/images/dark-wallpaper-8.jpg) ;
  height: 90vh;
}

.landing-img{
  text-align: center;
}

.nav-bar {
  width: 100%;
}

.navbar-links {
  display: flex;
  text-decoration: none;
  width: 100%;
  list-style-type: none;
  justify-content: space-evenly;
  background-color: black;
  padding: 10px;

}

.navbar-home{
  text-decoration: none;
  color: white;
}

.navbar-about{
  text-decoration: none;
  color: white;
}

.navbar-exp{
  text-decoration: none;
  color: white;
}
.navbar-project{
  text-decoration: none;
  color: white;
}

.navbar-skill{
  text-decoration: none;
  color: white;
}

.navbar-testi{
  text-decoration: none;
  color: white;
}

.navbar-con{
  text-decoration: none;
  color: white;
}

.nav-icon{
  color:white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
}

.navbar-link {
  text-decoration: none;
  list-style-type: none;
  color: white;
  width: 10px;
  height: 4vh;
  align-items: center;
  margin: 0;
}

.navbar-link :hover {
  transition: 0.5s;
  background-color: white;
  color: black;
  padding: 20px;
  width: 10vw;
  border-radius: 2%;
}

.landing-page h1 {
  position: relative;
  font-size: 60px;
  top: 440px;
  color: white;
  background-color: black;
}

.landing p {
  position: relative;
  text-align: center;
  font-size: 60px;
  top: 440px;
  color: white;
  background-color: black;
}



.landing-page {
  text-align: center;
}

.info{
  align-items: flex-start;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.contain{
  display: flex;
  top: 25%;
  border: 10px solid rgb(4, 7, 158);
  margin: 8%;
}

.contain img{
  width: 40vw;
  height: 49vh;
  margin: 30px 30px 0px 30px;
  border: 5px solid rgb(10, 12, 15);
}

.info h1{
  font-size: 1.2rem;
}

.info h2{
  font-size: 1.2rem;
}

.info p{
  font-size: 1rem;
  margin-top: 10px;
}



.interests{
  display: grid;
  grid-template-columns: 0.5fr 20px 0.5fr 20px 0.5fr;
  grid-template-rows: repeat(5, 1fr);
  text-align: center;
  height: 200px;
}

.interested-in{
  width: 100%;
  position: relative;
}

.interested-in h1{
  margin: 0px 10px 10px 0px;
  font-size: 1.2rem;
  text-align: center;
}

.interested-in p{
  font-size: 1rem;
}

.line-1 {
  width: 5px;
  height: 95%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  background: rgb(6, 16, 156);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  margin: 5px;
}

.line-3 {
  width: 5px;
  height: 95%;
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 5;
  background: rgb(6, 16, 156);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  margin: 5px;
}

#icon{
  font-size: 20px;
  margin-bottom: 25px;
}


 .camera{
  grid-column: 3;
  grid-row: 1;
  font-size: 20px;
}

.pen {
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
}

.basket-ball {
  grid-column: 3;
  grid-row: 2;
  font-size: 20px;
}

.music {
  grid-column: 1;
  grid-row: 1;
  font-size: 20px;
}

.weight{
  grid-column: 5;
  grid-row: 1;
  font-size: 20px;
}

.game{
  grid-column: 5;
  grid-row: 2;
}

.skill-icons{
  display: grid;
  grid-template-columns: 2fr 10% 2fr ;
  grid-template-rows: repeat(4, 1fr);
  bottom: 0;
  height: 700px;
  margin: 50px 120px 120px 120px;
  padding: 10px;
}

.leader{
  grid-column: 1;
  grid-row: 1;
  font-size: 40px;
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}

.html{
  grid-column: 1;
  grid-row: 2;
  font-size: 40px;
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}

.java{
  grid-column: 3;
  grid-row: 1;
  font-size: 40px;
  display: flex;
  gap: 40px;
}

.toast{
  grid-column: 3;
  grid-row: 2s;
  font-size: 40px;
  display: flex;
  gap: 40px;
}

.wood{
  grid-column:1 ;
  grid-row: 3;
  font-size: 40px;
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}

.css{
  grid-column: 3;
  grid-row: 3;
  font-size: 40px;
  display: flex;
  gap: 40px;

}

.skills header{
  margin-bottom: 60px;
  font-size: 3rem;
  text-align: center;
}

.line-2 {
  width: 10px;
  height: 60vh;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  background: rgb(5, 7, 8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  margin: 0 0 0 40px;
}

.experience{
 text-align: center;
}

.experience header{
  font-size: 1.5rem;
  padding: 50px;
}

.experience i{
  border: 10px solid white;
  border-radius: 50%;
  background-color: white ;
}

.left-column{

}

.columns h1{
  margin: 10px;
}

.columns{
  display: flex;
}

.left-column h1{
  text-align: right;
}

.left-column{
  width: 50%;
  float: right;
}

.right-column{
  width: 50%;
}

.body{
  font-family: sans-serif;
  background-size: cover;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 5% 10%;
  background-attachment: fixed;
  background-position: center;
}

.container {
  display:flex;
  height: 80vh;
}

.card-heading {
  font-size: 2rem;
  color: black;
}

.card-container-heading{
  font-size: 4rem;
  text-align: center;
}

.card {
  width: 50vw;
  margin: 0% 3% 3% 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(1, 132, 255, 0.959);
  border-radius: 10%;
  padding: 1%;
  color: white;
}

.card-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2%;
  color: black;
}

.card-details img{
  height: 30vh;
}

.card-buttons {
  display: flex;
}

.button {
  border-radius: 10px;
  color: black;
  text-decoration: none;
  padding: 10px 30px;
  transition: all 0.3s linear;
  width: 49%;
  margin-right: 1%;
}

.button:hover {
  font-size: 1.1em;
  background: rgba(1, 132, 255, 0.959);
  color: rgb(54, 114, 243);
  margin: 10px;
}

body {
  min-height: 100vh;
  align-items: center;
}

form{
  display: flex;
}

.contact-me-info{
  height: 40vh;
}

#contact-form {
  width: 50vw;
  height: 90vh;
  padding: 10%, 20%;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact-heading {
  text-transform: uppercase;
  padding: 20px;
  color: black;
}

.contact-input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 100px;
  color: black;
}

button {
  transition-duration: 0.4s;
  margin: 1rem;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  padding: 5%, 10%;
  border: none;
  border-radius: 200px;
  box-shadow: 5px 5px 60px black;
}

.contact-info {
  border-radius: 100px;
  margin-bottom: 10px;
}
button:hover {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  width: 10vw;
}

.card-details img{
  width: 100%;
}

.my-contact-info{
  
  right: 250px;
  margin-top: 137px;
}

.J-contact h1{
  color: black;
  text-align: center;
  font-size: 2.2rem;
  margin: 25px;
}

.J-contact h2{
  color: black;
  font-size: 1.2rem;

}

.number{
  justify-content: center;
  color: black;
  padding: 10px;
  margin: 10px;
}

.address{
  justify-content: center;
  color: black;
  padding: 10px;
  margin: 10px;
}

.Email{
  justify-content: center;
  color: black;
  padding: 10px;
  margin: 10px;
}


.testi-box {
  margin: 50px 100px ;
  display: flex;
}

.testi-box-item {
  margin: 200px 150px;
  width: 700px;
  border:3px solid black;
  padding: 50px;
}


.testi-pic{
  width: 45px;
  float: right;
}

.testi-pic img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.testimonial p{
  font-size: 1.1rem;
}

.testimonial h1{
  font-size: 3rem;
  font-family: initial;
}

.testimonial h2{
  font-size: 1.2rem;
  width: 200px;
}

.testimonial h3 {
  font-size: 1.1rem;
  margin-top: 20px;
}

.owl-carousel {
  overflow: hidden;
}

footer{
  background-color: rgb(4, 4, 5);
  padding: 10px;
}

footer p{
  font-size: 0.7rem;
  text-align: center;
  color: white;
}

@media screen and (max-width: 500px) {
  .testimonials {
    grid-template: 10% 1fr;
  }
}


@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .card {
    width: 100%;
  }

item{
  width: 100%;
  height:100%;

}

navbar ul{
  margin-right: 20px;
}

navbar a{
  font-size: 17px;
}

@media( max-width:909px){
  nav #icon{
    display: block;
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
  }
  navbar-ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:white ;
    top: 80px;
    left: 0;
    text-align: center;
  }
  navbar li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  navbar a{
    font-size: 20px;
  }
  a.active, a:hover{
    border: none;
    color: white;
  }
}

/* Media Queries*/
@media screen and (max-width:) {
  #primary { width: }
  #secondary { width:; margin-left:%;}  
}

/* Media Queries */
@media screen and (max-width: px) {
  #primary { width:%; }
  #secondary { width:%; margin:0; border:; }
}

img { max-width: , height:  }