* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body{
  background-color: rgb(29, 124, 233);;
}

.landing{
  width: 100%;
  background-image: url(https://eskipaper.com/images/dark-wallpaper-8.jpg) ;
  height: 100vh;
}

img{
  text-align: center;
  filter: drop-shadow(5px 5px 5px 5px);
}

.nav-bar {
  position: fixed;
  width: 100%;
}

.navbar-links {
  display: flex;
  text-decoration: none;
  width: 100%;
  position: relative;
  justify-content: space-evenly;
  gap: 20px;
  background-color: black;
  padding: 10px;
  align-items: center;
  margin-right: 0px;
}

.navbar-link {
  text-decoration: none;
  list-style-type: none;
  color: white;
  width: 10px;
  margin: 3px;
  height: 4vh;
}

.navbar-link :hover {
  transition: 1s;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 10%;
}

.landing-page h1 {
  position: relative;
  font-size: 60px;
  top: 440px;
  color: white;
  background-color: black;
}

.landing p {
  position: relative;
  text-align: center;
  font-size: 60px;
  top: 440px;
  color: white;
  background-color: black;
}

.cover-page {
  object-fit: cover;
  z-index: -1;
  width: 100%;
}

.landing-page {
  text-align: center;
}

.about{
  margin: 5px 5px 5px 5px;
}

.container{
  background-color: white;
  display: flex;
}

.about-img img{
  width: 43vw;
  position: absolute;
  height: 50vh;
  top: 190px;
  left: 20px;

}



.information h1{
  text-align: right;

}

.information h2{
  text-align: right;
}

.information p{
  text-align: right;
}

.BI{
  text-align: right;
}

.basic-info{
  text-align: right;
}



.BI h3 {
  text-align: right;
}
.BI h4{
  text-align: right;
}

.get-to-know-me{
  background-color: white;

}

.my-interests h1{
  text-align: right;
}

.experience{
  height: 100vh;
  display: grid;
  place-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(29, 124, 233)
}

.icons{
  font-size: 10rem;
  justify-content: space-between;
}

.my-experience {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(4, 1fr);
  background: url(https://i.picsum.photos/id/1019/5472/3648.jpg?hmac=2mFzeV1mPbDvR0WmuOWSiW61mf9DDEVPDL0RVvg1HPs);
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-items: center;
  padding: 10%;
}

.line {
  width: 10px;
  height: 90%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  background: rgb(29, 124, 233);
  box-shadow: 0 8px 32px 0 rgba(3, 4, 7, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.work-1{
  grid-column: 3;
  grid-row: 1;
}

.education-1 {
  grid-column: 1;
  grid-row: 2;
}

.work-2 {
  grid-column: 3;
  grid-row: 3;
}

.timeline {
  color: black;
  text-shadow: black;
  padding: 10%;
  margin: 10%;
  background:rgb(29, 124, 233);
  box-shadow: 0 8px 32px 0 rgb(1, 41, 87)
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

/* Media Queries*/
@media screen and (max-width:) {
  #primary { width: }
  #secondary { width:; margin-left:%;}  
}

/* Media Queries */
@media screen and (max-width: px) {
  #primary { width:%; }
  #secondary { width:%; margin:0; border:; }
}

img { max-width: , height:  }